*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Flex', sans-serif;
    min-height: 100vh;
    background-image: url(abstract-blue-light-gradient-blurred-colorful-gradient-background_558873-57843.avif)
}

#rabbit-icon {
    animation: bounce 0.4s ease-in-out;
}
#rabbit-icon:hover {
    cursor: pointer;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
nav{
    background-color: white;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 80px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    font-weight:700;
}
nav li:first-child{
    margin-right: auto;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav li:first-child img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}
h3 {
    margin-left: 175px;
    margin-top: 120px;
}
h1 {
    margin-left: 175px;
    font-size: 72px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
}
.description {
    margin-top: 10px;
    margin-left: 175px;
    color:#2e2e2e
}

body, nav, nav a {
    transition: background-color 0.25s linear, color 0.25s linear;
}

body.dark-mode {
    background-image: none;
    background-color: rgb(19, 19, 19);
    transition: all 0.25s linear;
}
body.dark-mode .description {
    margin-top: 10px;
    margin-left: 175px;
    color:#949494
}
body.dark-mode nav a:hover {
    background-color: #2e2e2e;
    background-repeat: no-repeat;
    font-weight:700;
    transition: all 0.25s linear;
}
body.dark-mode nav{
    background-color: rgb(19, 19, 19);
    box-shadow: 3px 2px 4px rgba(255, 255, 255, 0.1);
    transition: all 0.25s linear;
}
body.dark-mode nav a{
    color: white;
    transition: all 0.25s linear;
}
body.dark-mode h1{
    color: white;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.25s linear;
}
body.dark-mode h3 {
    color:white;
    transition: all 0.25s linear;
}